<header>
    <div class="header-content project-detail">
        <div class="header-content-inner title-text">
            <div class="logo-container">
                <img class="druid portfolio-logo" src="img/portfolio/druid.svg" alt="druid">
                <img class="kafka portfolio-logo" src="img/portfolio/kafka.svg" alt="kafka">

            </div>
            <h1>Real time page analytics built for scale</h1>

            <div class="medium-text">
                In 2021-2022, I led a team of super talented engineers at Qwilr to build the backend analytics system
                aimed at enabling our customers insights into customer engagement. We built a system that could handle
                1000s of requests per second, and scale to 10s of millions of events per day. We used Kafka, Druid, and
                a custom-built API to handle the ingestion and querying of data. We also built a custom dashboard to
                allow users to view their data in real time.
                <br>
                The learnings from this project were the importance of choosing the right tool for the job, and druid
                was probably overqualified for that, but it is very much built to work with apache kafka, and it
                provided a fairly simple route to migrating data. The promise of druid is fast queries, and high
                concurrency, and while we probably didn't stretch its abilities, it was a great learning experience, and
                the right tool in this case.
            </div>
        </div>
    </div>
</header>
