<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">A software startup comprises key players</h2>
                <hr class="light">
                <p class="text-faded">A software company - developers, designers, marketers,
                    and more - all working together to bring their vision to life. As a software developer and
                    consultant with 20 years of experience, I can be an extra player in that team, helping you make and
                    implement good technology decisions and right solutions given your current priorities. With my
                    expertise in DevOps enablement, Infrastructure as Code, system design and proof of concept, and new
                    technology appraisal, I can guide you, and also build systems hands on to help drive success for
                    your business.</p> <a href="#services" class="btn btn-default btn-xl page-scroll btn-center">Services</a>
            </div>
        </div>
    </div>
</section>
