<section class="bg-primary" id="about">
    <div class="container call-to-action">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2>Experience</h2>
                <hr class="light">
                <p class="text-faded">A software company - developers, designers, marketers, and more - all working
                    together to bring their vision to life. One of the things that is often hard to attract at that
                    early stage is experience, particularly in building complex software systems. As a software
                    developer and consultant with 20 years of experience, primarily in startups, I can be a crucial
                    player in that team, helping you make and implement good technology decisions from early on and
                    given your current priorities. With my expertise in DevOps enablement, Infrastructure as Code,
                    system design and proof of concept, and new technology appraisal, I can guide you, and also build
                    systems hands on to help drive success for your business.</p>
                <!--                <a href="#services" class="btn btn-default btn-xl page-scroll btn-center">Services</a>-->
            </div>
        </div>
    </div>
</section>
