<header>
    <div class="header-content project-detail">
        <div class="header-content-inner title-text">
            <div class="logo-container">
                <img class="qwilr-log portfolio-logo" src="img/portfolio/qwilr.svg" alt="qwilr">
                <img class="buildkite portfolio-logo" src="img/portfolio/buildkite.svg" alt="buildkite">
                <img class="docker portfolio-logo" src="img/portfolio/docker.svg" alt="docker">
            </div>
            <h1>Transforming software shipping through continuous integration and delivery</h1>

            <div class="medium-text">When I joined Qwilr, one of the first tasks I undertook was fixing a build
                pipeline. It was still pretty minimal back then. We had a simple bitbucket pipeline build that had some
                tests, but it had been abandoned at some point, and didn't get run. While that first step was a small
                one, 5 years later we had a sophisticated testing and CD pipeline. We were able to ship code to
                production multiple times day triggered by pull request merges.
                <br></br>
                All of this happened by evolving a build and deploy pipeline over time. The key tools we
                used were Docker, Buildkite, AWS, various test systems like cypress and jest. The details of this are
                length and intricate, but the impact on developer productivity was profound. They were able to focus on
                their work, and have confidence that their code would be shipped to production in a safe and reliable
                way, as well as shipping more regularly and easily. I truly believe shipping is the lifeblood of
                engineering teams.
                <br></br>
                The learnings from this process were many and hard won, and I can bring these many years of experience
                to your team.
            </div>
        </div>
    </div>
</header>
