<header>
    <div class="header-content">
        <div class="header-content-inner title-text">
            <h1>I help software startups solve their key technology challenges</h1>
            <hr>
            <div class="medium-text">My name is James O'Rourke, and I'm a freelance software engineer and consultant. I help
                companies with various challenges during their software journey. I've been building software
                professionally for over twenty years, and consulted to and worked for top technology companies in Australia
                and Silicon Valley.
            </div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll btn-center">Find Out More</a>
        </div>
    </div>
</header>
