<section class="background-lightest" id="portfolio">
    <div class="container-fluid portfolio-section">
        <h2 class="text-center">Recent Work</h2>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/cicd" class="portfolio-box">
                    <img src="img/portfolio/cicd.svg" class="icon img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DevOps
                            </div>
                            <div class="project-name">
                                CI CD Journey - Qwilr
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/iac.svg" class="icon img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Infrastructure as Code
                            </div>
                            <div class="project-name">
                                Emmi Data Pipeline
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/cloud-migr.svg" class="icon img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cloud Strategy and Migration
                            </div>
                            <div class="project-name">
                                Leading technology transformation at NearMap
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
