<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What I help with</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row services-row">
            <div class="col-lg-3 col-md-6 text-left">
                <div class="service-box">
                    <!--                    <div class="bounceIn wow">-->
                    <!--                        <img src="img/icons/devops.svg" alt="Description of image" class="bounceIn icon-svg">-->
                    <!--                    </div>-->
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary"></i>
                    <h3>DevOps enablement</h3>
                    <p>Automation is central to improved developer productivity and enjoyment. I have
                        experienced and implemented automation systems for several engineering teams</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-left">
                <div class="service-box">
                    <!--                    <div class="bounceIn wow">-->
                    <!--                        <img src="img/icons/infra.svg" alt="Description of image" class="bounceIn icon-svg">-->
                    <!--                    </div>-->
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".1s">
                    </i>
                    <!--                    <i class="fa fa-4x fa-tty wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
                    <h3>Infrastructure as Code</h3>
                    <p>Having infrastructure defined the right way and easily maintainable sets the
                        platform up for success.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-steam-square wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>System architecture and tracer bullet build</h3>
                    <p>It can be hard to go from zero to one with a new system. This is where I
                        thrive. I will take the most direct and pragmatic path to maximise learnings, but also with a
                        view to the future.</p></div>
            </div>
        </div>
    </div>
</section>
