
/* SCSS RGB */
//$primary-lightest: rgba(135, 188, 222, 1);
//$primary-lighter: rgba(128, 94, 115, 1);
//$primary-light: rgba(78, 77, 92, 1);
//$primary-middle: rgba(45, 70, 84, 1);
//$primary-dark: rgba(36, 59, 74, 1);
/* SCSS HEX */
$primary-light: #ffb49aff;
$primary-lightest: #7b7554ff;
$primary-dark: #17183bff;
//$primary-dark: #ffffff;
$primary-middle: #a11692ff;
$primary-lighter: #ff4f79ff;

//$reseda-green: #7b7554ff;
//$space-cadet: #17183bff;
//$dark-magenta: #a11692ff;
//$bright-pink-crayola: #ff4f79ff;
//$melon: #ffb49aff;


/* CSS HEX */



//$primary-middle: #2E4756;
//$primary-light: #3C7A89;
//$primary-dark: #16262E;
//$primary-lightest: #DBC2CF;
//$primary-lighter: #9FA2B2;


:root {
  --primary-color: hsla(var(--hue, 245), 100%, 5%, 1);
  --headline-font: "Degular Display Bold";
  --text-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --primary-grey: $primary-middle;
  //--primary-dark: #011936;
  --color-light: $primary-lighter;
}


html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include serif-font;
}

hr {
  border-color: $primary-middle;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

a {
  @include transition-all;
  color: $primary-middle;

  &:hover,
  &:focus {
    color: darken($primary-middle, 10%);
  }
}

h1 {
  @include degular-display-bold;
}

h2,
h3,
h4,
h5,
h6 {
  color: $primary-middle;
  font-family: var(--text-font);
}

p {
  font-family: var(--text-font);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $primary-middle;
}

.bg-primary-all {
  background-color: $primary-middle;
  height: auto;
}

.bg-dark {
  background-color: $theme-dark;
  color: white;
}

.text-faded {
  color: rgba(white, .7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-simple {
  background-color: $primary-middle;
}

// Navigation
.navbar-default {
  background-color: white;
  border-color: rgba($theme-dark, .5);
  @include sans-serif-font;
  @include transition-all;

  .navbar-header .navbar-brand {
    color: $primary-middle;
    @include sans-serif-font;
    font-weight: 700;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: darken($primary-middle, 10%);
    }
  }

  .nav {
    > li {
      > a,
      > a:focus {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: $theme-dark;

        &:hover {
          color: $primary-middle;
        }
      }

      &.active {
        > a,
        > a:focus {
          color: $primary-middle !important;
          background-color: transparent;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    background-color: transparent;
    border-color: rgba(white, .3);
    .navbar-header .navbar-brand {
      color: rgba(white, .7);

      &:hover,
      &:focus {
        color: white;
      }
    }
    .nav > li > a,
    .nav > li > a:focus {
      color: rgba(white, .7);

      &:hover {
        color: white;
      }
    }
    &.affix {
      background-color: white;
      border-color: rgba($theme-dark, .5);

      .navbar-header .navbar-brand {
        color: $primary-middle;
        font-size: 14px;

        &:hover,
        &:focus {
          color: darken($primary-middle, 10%);
        }
      }

      .nav > li > a,
      .nav > li > a:focus {
        color: $theme-dark;

        &:hover {
          color: $primary-middle;
        }
      }
    }
  }
}

// Homepage Header
header {
  position: relative;
  width: 100%;
  min-height: auto;
  @include background-cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include background-cover;
    background-position: center;
    //background-image: url('../img/header.jpg');
    background-color: $primary-dark;
    z-index: -1;
  }

  .header-content {
    animation: fade-in 2s ease-in-out;

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }


    display: flex;
    flex-direction: row;
    position: relative;
    text-align: left;
    padding: 100px 15px 100px;
    width: 100%;

    .logo-container {
      flex-shrink: 0;
      margin-right: 20px;

      .portfolio-logo {
        max-width: 100%;
        height: auto;
        width: 150px;
        margin: 75px 50px;
        @media (max-width: 768px) {
          margin: 30px;
        }
      }
    }


    .header-content-inner {
      flex-grow: 1;
      h1 {
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 50px;
      }

      hr {
        margin: 30px auto;
      }

      p {
        font-weight: 300;
        color: rgba(white, .7);
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }

  @media (min-width: 768px) {
    min-height: 100vh;
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;

      &.project-detail {
        position: relative;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
      }

      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;

        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

// Sections
.services {
  background-color: $primary-lighter;
}

.section-heading {
  margin-top: 0;
}


.services-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  @media (min-width: 768px) {
    justify-content: space-around;
    gap: 20px;
  }
}

.service-box {
  max-width: 400px;
  margin: 50px 20px 0 20px;
  @media (min-width: 992px) {
    margin: 20px auto 0;
  }

  p {
    margin-bottom: 0;
  }
}

.portfolio-section {
  h2 {
    margin-bottom: 50px !important;
  }
}


.portfolio-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  max-width: 650px;
  margin: 0 auto;
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  .icon {
    width: 350px;
    height: 350px;
    align-content: center;
  }

  .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba($primary-middle, .9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    @include transition-all;

    @media (max-width: 768px) {
      opacity: 1;
      border: 1px solid $primary-middle;
    }

    .portfolio-box-caption-content {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      .project-category,
      .project-name {
        @include sans-serif-font;
        padding: 0 15px;
      }

      .project-category {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }

      .project-name {
        font-size: 18px;
      }
    }
  }

  &:hover {
    .portfolio-box-caption {
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    .portfolio-box-caption {
      .portfolio-box-caption-content {
        .project-category {
          font-size: 16px;
        }

        .project-name {
          font-size: 22px;
        }
      }
    }
  }
}

.call-to-action {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  h2 {
    color: rgba(white, .7);
    margin: 0 auto 20px;
  }
  .about-text {
    margin-right: 50px;
  }

  .image-container {
    text-align: right;
  }
  .header-image {
    background-color: $primary-lighter;
    width: 200px;
    height: 200px;
    margin: 75px 50px 50px 50px;
    border-radius: 20%;
  }
}

// Bootstrap Overrides
.text-primary {
  color: $primary-middle;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

// Button Styles
.btn-default {
  @include button-variant($theme-dark, white, white);
}

.btn-primary {
  @include button-variant(white, $primary-middle, $primary-middle);
}

.btn {
  @include sans-serif-font;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

.btn-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

// Contact
#contact .fa {
  color: $primary-lightest;
  font-size: 4em;
}

#contact h2 {
  color: $primary-lightest;
}

#contact p {
  color: $primary-lightest;
}

.portrait-photo {
  border-radius: 50%;
  overflow: hidden;
}
.contact-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-items {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  align-items: center;
}

// Extras
::-moz-selection {
  color: white;
  text-shadow: none;
  background: $theme-dark;
}

::selection {
  color: white;
  text-shadow: none;
  background: $theme-dark;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-dark;
}

.portfolio {
  margin: 100px 0;
  background-color: $primary-middle;
  display: flex;
}

.medium-text {
  color: lighten($primary-dark, 80%);
  font-family: var(--text-font);
  font-size: 22px;
  width: clamp(325px, 85%, 50ch);;
  margin-bottom: 65px;
}

.title-text {
  color: white;
  font-size: 2em;
}

.icon-svg {
  width: 80px;
  height: 80px;
  fill: $primary-middle;
}

.background-darkest {
  background-color: $primary-dark
}

.background-lightest {
  background-color: $primary-lightest
}
#qwilr-logo #logotype * {
    fill: #ffffff !important;
}
